
        h1 {
            text-align: center;
            font-family: Arial, Arial;
        }

        p {
            font-family: Arial, sans-serif;
            font-size: 200%;
           }

        body {
            background-color: rgb(207, 203, 203);

        }

        hr {
            height:10px;
            background-color:rgb(255, 246, 246);
        }

        a {
            color:rgb(113, 131, 202);
        }

         img {
            border: 1px solid #2d2b2b;
            border-radius: 25px;
            padding: 5px;
           }
       
        .pill-nav a {
         font-family: arial;
            display: inline-block;
         color: black;
        text-align: center;
         padding: 14px;
         text-decoration: none;
         font-size: 17px;
         border-radius: 5px;
          }
          
        .pill-nav a:hover {
         background-color: #ddd;
         color: black;
          }
          
        .pill-nav a.active {
         background-color: grey;
         color: white;
          }

        .footer {
        left: 0;
        bottom: 0;
        width: 700 ;
        height:700 ;
        background-color: rgb(147, 146, 146);
        color: white;
        text-align: center;
        font-family: Arial, Arial;
         }
       
         div.scroll-container {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
         padding: 10px;
          }

        div.scroll-container img {
        padding: 10px;
        }

        table {
        border-collapse: collapse;
        width: 100%;
          }
        
        th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-family: Arial, sans-serif;
          }

        tr:hover {background-color: rgb(214, 211, 211);}

        
          