
        h1 {
            text-align: center;
            font-family: Arial, Arial;
        }

        p {
            font-family: Arial, sans-serif;
           }

        body {
            background-color: rgb(170, 170, 170);

        }

        hr {
            height:10px;
            background-color:rgb(255, 255, 255);
        }

        a {
            color:rgb(113, 131, 202);
        }

        span {
            font-family: Arial, Arial;
        }
        .btn {
            background-color: rgb(126, 126, 126);
            color: white;
            font-family: Arial,
        }

        .button {
         background-color: rgb(234, 229, 229);
         border-radius: 5px ;
         color: black;
         padding: 10px 62px;
         text-align: center;
         text-decoration: none;
         font-family: Arial, Arial;
         font-weight:bold;
         display:inline-block ;
         font-size: 25px;
         margin: 4px 2px;
         cursor: pointer;
         position: relative;
         cursor: pointer;
         user-select: none;
         font-size: 17px;
         transition: all 0.2s ease-in-out;    
        }

        button:hover {
        box-shadow: 0 0 30px 0 rgb(255, 255, 255);
        }
        
        .dropdown {
          position: relative;
         display: inline-block;
        }

        .dropdown-content {
         display: none;
         position: absolute;
         background-color: rgb(255, 251, 251);
          min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
         padding: 12px 16px;
         z-index: 1;
         }

         .dropdown:hover .dropdown-content {
         display: block;
         }

      
       
        .pill-nav a {
         font-family: arial;
            display: inline-block;
         color: black;
        text-align: center;
         padding: 14px;
         text-decoration: none;
         font-size: 17px;
         border-radius: 5px;
          }
          
        .pill-nav a:hover {
         background-color: #ddd;
         color: black;
          }
          
        .pill-nav a.active {
         background-color: rgb(104, 104, 104);
         color: white;
          }

        .footer {
        left: 0;
        bottom: 0;
        width: 700 ;
        height:700 ;
        background-color: rgb(120, 119, 119);
        color: white;
        text-align: center;
        font-family: Arial, Arial;
         }
       